In [3]:
#install packages
install.packages("palmerpenguins")
install.packages("dplyr")
install.packages("tidyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [21]:
#load librarys and visualize initial data
library(palmerpenguins)
library(dplyr)
library(tidyr)

data("penguins")

str(penguins)
summary(penguins)
sum(is.na(penguins))
tail(penguins)

tibble [344 × 8] (S3: tbl_df/tbl/data.frame)
 $ species          : Factor w/ 3 levels "Adelie","Chinstrap",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ island           : Factor w/ 3 levels "Biscoe","Dream",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ bill_length_mm   : num [1:344] 39.1 39.5 40.3 NA 36.7 39.3 38.9 39.2 34.1 42 ...
 $ bill_depth_mm    : num [1:344] 18.7 17.4 18 NA 19.3 20.6 17.8 19.6 18.1 20.2 ...
 $ flipper_length_mm: int [1:344] 181 186 195 NA 193 190 181 195 193 190 ...
 $ body_mass_g      : int [1:344] 3750 3800 3250 NA 3450 3650 3625 4675 3475 4250 ...
 $ sex              : Factor w/ 2 levels "female","male": 2 1 1 NA 1 2 1 2 NA NA ...
 $ year             : int [1:344] 2007 2007 2007 2007 2007 2007 2007 2007 2007 2007 ...

      species          island    bill_length_mm  bill_depth_mm
 Adelie   :152   Biscoe   :168   Min.   :32.10   Min.   :13.10
 Chinstrap: 68   Dream    :124   1st Qu.:39.23   1st Qu.:15.60
 Gentoo   :124   Torgersen: 52   Median :44.45   Median :17.30
                                 Mean   :43.92   Mean   :17.15
                                 3rd Qu.:48.50   3rd Qu.:18.70
                                 Max.   :59.60   Max.   :21.50
                                 NA's   :2       NA's   :2
 flipper_length_mm  body_mass_g       sex           year
 Min.   :172.0     Min.   :2700   female:165   Min.   :2007
 1st Qu.:190.0     1st Qu.:3550   male  :168   1st Qu.:2007
 Median :197.0     Median :4050   NA's  : 11   Median :2008
 Mean   :200.9     Mean   :4202                Mean   :2008
 3rd Qu.:213.0     3rd Qu.:4750                3rd Qu.:2009
 Max.   :231.0     Max.   :6300                Max.   :2009
 NA's   :2         NA's   :2

[1] 19

  species   island bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Chinstrap Dream  45.7           17.0          195               3650
2 Chinstrap Dream  55.8           19.8          207               4000
3 Chinstrap Dream  43.5           18.1          202               3400
4 Chinstrap Dream  49.6           18.2          193               3775
5 Chinstrap Dream  50.8           19.0          210               4100
6 Chinstrap Dream  50.2           18.7          198               3775
  sex    year
1 female 2009
2 male   2009
3 female 2009
4 male   2009
5 male   2009
6 female 2009

In [24]:
#replace numerics with medians based on species and island
# I am using species and island because species attributes could
# depending on their island
penguins <- penguins %>%
  group_by(species, island) %>%
  mutate(across(where(is.numeric), ~ ifelse(is.na(.), median(., na.rm = TRUE), .)))

#character sex
penguins <- penguins %>%
  mutate(sex = as.character(sex))

#get the mode for sex
#I am replacing by mode because instead of using
# K-means clustering since its more simple
get_mode <- function(x) {
  uniqx <- unique(x[!is.na(x)])
  uniqx[which.max(tabulate(match(x, uniqx)))]
}

#replace sex with mode if na
penguins <- penguins %>%
  group_by(species) %>%
  mutate(
    sex = ifelse(is.na(sex), get_mode(sex), sex)
  ) %>%
  ungroup()

sum(is.na(penguins))

head(penguins)

[1] 0

  species island    bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Adelie  Torgersen 39.1           18.7          181               3750
2 Adelie  Torgersen 39.5           17.4          186               3800
3 Adelie  Torgersen 40.3           18.0          195               3250
4 Adelie  Torgersen 38.8           18.4          190               3700
5 Adelie  Torgersen 36.7           19.3          193               3450
6 Adelie  Torgersen 39.3           20.6          190               3650
  sex    year
1 male   2007
2 female 2007
3 female 2007
4 male   2007
5 female 2007
6 male   2007

In [25]:
write.csv(penguins, "cleaned_penguins.csv", row.names = FALSE)